body {
    background-image: url('Foodbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.garden {
    color: rgb(241, 37, 37);
    text-align: center;
    font-family: 'Viner Hand ITC';
    font-size: 250%;
}
h2 {
    text-align: center;
    font-size: 200%;
    color:orange;
}
.subheading {
    font-family: 'Arial Black';
    color: green;
    font-size:200%
}
.welcome {
    font-family: 'Segoe Script';
    color: lightpink;
}
.bumper {
    text-align: center;
    color: orange;
    font-size:200%
}
h3 {
    text-align: center;
    color: rgb(173, 20, 119);
    font-family: Verdana;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    height: 60%;
}
table, th, td {
    border: 5px solid gray;
    text-align: center;
    padding: 15px;
    color: white;
}
th {
    font-family: 'Arial Black';
}
td {
    font-family: Verdana;
} 
.home{
    background-image:url('tq.jpg');
    width:300px
    height: 500px;
}
.center{
    display: block;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
